## List of files that should be ignored from git

# File extensions
*.html
*.knit.md
*.spin.R
*.spin.Rmd
*.utf8.md
*.Rproj.user
*.Rproj
*.Rhistory
*.pyc
*.ini

# LaTeX files
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz

# Specific files
table2_fig1_fig2.dta
boudreau_mackenzie_codebook_ajps.pdf
McClendonRiedl_religionasstimulant.do
religionasstimulant.dta
ajps_replication.do
ajps2_replication.dta
